/**
* Copyright (C) 2017-present silenter<silenter@126.com>
*
* This file is part of Sibase.
*
* Sibase is free software; you can redistribute it and/or
* modify it under the terms of the GNU Lesser General Public
* License as published by the Free Software Foundation; either
* version 2.1 of the License, or (at your option) any later version.
*
* Sibase is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with Sibase; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301 USA.
*
* An additional grant of patent rights can be found in the PATENTS file
* in the root directory of this source tree.
*/
package ${packageName}.controller;

import BaseController;
import ${packageName}.mapper.${moduleName}Mapper;
import ${packageName}.pojo.${moduleName}Do;
import ${packageName}.pojo.${moduleName}Dto;
import ${packageName}.service.${moduleName}Service;
import com.alibaba.fastjson.JSON;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;

/**
* ${moduleName}的Controller层的接口定义类。
* <p>主要是用于页面的返回控制的接口定义</p>
*
* @author ${author}
* @version 1.0
* @date ${dateTime}
*/
@Controller
@RequestMapping(value = "/${module}/")
public class ${moduleName}Controller extends BaseController {
    @Autowired
    private ${moduleName}Service ${module}Service;

    @GetMapping("index")
    public String index() {
        return "/${module}/index";
    }

    @GetMapping("form")
    public String form() {
        return "/${module}/form";
    }

}
