/**
* Copyright (C) 2017-present silenter<silenter@126.com>
*
* This file is part of Sibase.
*
* Sibase is free software; you can redistribute it and/or
* modify it under the terms of the GNU Lesser General Public
* License as published by the Free Software Foundation; either
* version 2.1 of the License, or (at your option) any later version.
*
* Sibase is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with Sibase; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301 USA.
*
* An additional grant of patent rights can be found in the PATENTS file
* in the root directory of this source tree.
*/
package ${packageName}.service.impl;

import BaseServiceImpl;
import ${packageName}.pojo.${moduleName}Do;
import ${packageName}.repository.${moduleName}Repository;
import ${packageName}.service.${moduleName}Service;
import javax.transaction.Transactional;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
* ${moduleName}Service 层的实现基类。
* <p>实现${moduleName}Service的接口基类的接口</p>
*
* @author ${author}
* @version 1.0
* @date ${dateTime}
*/
@Service
public class ${moduleName}ServiceImpl extends BaseServiceImpl<${moduleName}Do> implements ${moduleName}Service {
    @Autowired
    private ${moduleName}Repository ${module}Repository;

}
